[env]
RUST_BACKTRACE = "1"
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true

[tasks.ci]
workspace = false
dependencies = ["ci-general", "ci-commands"]

[tasks.ci-commands]
workspace = false
dependencies = ["golang", "schema", "serde", "git-diff-empty"]

[tasks.ci-general]
dependencies = ["check", "lint", "fmt-check", "build", "doc", "test"]

[tasks.golang]
workspace = false
command = "cargo"
args = ["run", "--bin", "golang"]

[tasks.schema]
workspace = false
command = "cargo"
args = ["run", "--bin", "schema"]

[tasks.serde]
workspace = false
command = "cargo"
args = ["run", "--bin", "serde"]

[tasks.git-diff-empty]
workspace = false
command = "git"
args = ["diff", "--quiet", "./out/"]

[tasks.test]
command = "cargo"
args = ["test", "--all-features"]

[tasks.build]
command = "cargo"
args = ["build", "-q", "--all-targets", "--all-features"]

[tasks.fmt-check]
command = "cargo"
args = ["fmt", "-q", "--all", "--", "--check"]
dependencies = ["install-rustfmt"]

[tasks.check]
command = "cargo"
args = ["check", "-q", "--all-targets", "--all-features", "--locked"]

[tasks.doc]
command = "cargo"
args = ["doc", "-q", "--no-deps", "--all-features"]

[tasks.lint]
command = "cargo"
args = ["clippy", "-q", "--all-targets", "--all-features"]
dependencies = ["install-clippy-any"]

[tasks.optimize]
workspace = false
script = '''
cd perun_cosmwasm
docker run --rm -v ${PWD}:/code \
  	--mount type=volume,source="$(basename ${PWD})_cache",target=/code/target \
  	--mount type=volume,source=registry_cache,target=/usr/local/cargo/registry \
  	cosmwasm/rust-optimizer:0.12.0
'''
